**/bin/
**/obj/
test/bin/Release/net8.0/CoverletSourceRootsMapping_islamyTester
test/bin/Release/net8.0/islamy.dll
test/bin/Release/net8.0/islamy.exe
test/bin/Release/net8.0/islamy.pdb
test/bin/Release/net8.0/islamyTester.dll
test/bin/Release/net8.0/islamyTester.pdb
test/bin/Release/net8.0/publish/islamy.dll
test/bin/Release/net8.0/publish/islamy.exe
test/bin/Release/net8.0/publish/islamy.pdb
test/bin/Release/net8.0/publish/islamyTester.dll
test/bin/Release/net8.0/publish/islamyTester.pdb
proj/bin/Release/net6.0/islamy.dll
proj/bin/Release/net6.0/islamy.exe
proj/bin/Release/net6.0/islamy.pdb
proj/bin/Release/net6.0/publish/islamy.dll
proj/bin/Release/net6.0/publish/islamy.exe
proj/bin/Release/net6.0/publish/islamy.pdb
proj/bin/Release/net6.0/islamy.dll
proj/bin/Release/net6.0/islamy.exe
proj/bin/Release/net6.0/islamy.pdb
proj/bin/Release/net6.0/publish/islamy.dll
proj/bin/Release/net6.0/publish/islamy.exe
proj/bin/Release/net6.0/publish/islamy.pdb
proj/obj/Release/net6.0/apphost.exe
proj/obj/Release/net6.0/islamy.AssemblyInfo.cs
proj/obj/Release/net6.0/islamy.AssemblyInfoInputs.cache
proj/obj/Release/net6.0/islamy.csproj.FileListAbsolute.txt
proj/obj/Release/net6.0/islamy.dll
proj/obj/Release/net6.0/islamy.pdb
proj/obj/Release/net6.0/ref/islamy.dll
proj/obj/Release/net6.0/refint/islamy.dll
